name: Brew CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
env:
  HOMEBREW_DEVELOPER: 1

jobs:
  darwin-arm64:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - run: brew install --build-from-source Formula/buf.rb
      - run: buf --version
  darwin-x86_64:
    runs-on: macos-15-intel
    steps:
      - uses: actions/checkout@v4
      - run: brew install --build-from-source Formula/buf.rb
      - run: buf --version
  # Linux arm64 is not supported by Homebrew:
  # https://docs.brew.sh/Homebrew-on-Linux#arm-unsupported
  linux-x86_64:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Homebrew
        uses: Homebrew/actions/setup-homebrew@main
      - run: brew install --build-from-source Formula/buf.rb
      - run: buf --version
